* {
    font-family: "Modern No. 20";
    transition-duration: 1s;
}

body {
    background-color: black;
    overflow: hidden;
}

#select {
    position: fixed;
    width: 27%;
    left: 0;
    top: 0;
}

#emulator {
    z-index: 10;
    position: fixed;
    border-radius: initial;
    image-rendering: crisp-edges;
    transform: scale(0.25);
    right: 0;
    top: 0;
    margin: auto;
}

#emulator:focus {
    transform: scale(1.3) translate(-22%, 22%);
}

#chatframe {
    position: fixed;
    border: none;
    border-radius: initial;
    left: 0;
    bottom: 0;
    width: 27%;
    height: 75%;
    transform: translateY(100%);
}

#chatbutton {
    position: fixed;
    border: none;
    background-color: blue;
    left: 0;
    top: 50px;
    width: 50px;
    height: 50px;
}
