* {
    font-family: "Modern No. 20";
    transition-duration: 1s;
}

body {
    background-color: black;
    overflow: hidden;
}

select {
    background-color: black;
    color: white;
    font-size: 50px;
}

#select {
    position: fixed;
    left: 0;
    top: 0;
}

#emulator {
    position: fixed;
    right: 0;
    top: 0;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}
