* {
    font-family: "Modern No. 20";
    transition-duration: 1s;
}

body {
    background-color: black;
    overflow: hidden;
}

select {
    background-color: black;
    color: white;
    font-size: 30px;
}

#select {
    position: fixed;
    left: 0;
    top: 0;
}

#emulator {
    z-index: 10;
    position: fixed;
    image-rendering: crisp-edges;
    transform: scale(0.25);
    right: 0;
    top: 0;
    margin: auto;
}

#emulator:focus {
    transform: scale(1.7) translate(-22%, 22%);
}

#chatframe {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 50%;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}
